<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="row offset-3 mt-5">
        <div>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false" routerLink="/clientsdata">
                <img id="imgId" class="rounded border  border-info ml-4" src="../../assets/images/DIDIAPT.jpeg"></a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false" routerLink="/table">
                <h3 style="text-align: center;">30</h3>
            </a>
        </div>
        <div>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false" routerLink="/clientsdata">
                <img id="imgId" class="rounded border border-warning ml-4" src="../../assets/images/SATRA.jpeg"></a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false" routerLink="/table">
                <h3 style="text-align: center;">20</h3>
            </a>
        </div>
        <div>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false" routerLink="/clientsdata">
                <img id="imgId" class="rounded border border-success ml-4" src="../../assets/images/l&t.jpeg"></a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false" routerLink="/table">
                <h3 style="text-align: center;">25</h3>
            </a>
        </div>
        <div>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false" routerLink="/clientsdata">
                <img id="imgId" class="rounded border border-danger ml-4" src="../../assets/images/ROBERTBOSCH.jpeg"></a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false" routerLink="/table">
                <h3 style="text-align: center;">50</h3>
            </a>
        </div>
    </div>
    <div class="row offset-3 mt-2">
        <div>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false" routerLink="/clientsdata">
                <img id="imgId" class="rounded border border-warning ml-4" src="../../assets/images/BRIGADE.png"></a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false" routerLink="/table">
                <h3 style="text-align: center;">40</h3>
            </a>
        </div>
        <div>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false" routerLink="/clientsdata">
                <img id="imgId" class="rounded border border-info ml-4" src="../../assets/images/TRAVELOKA.png"></a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false" routerLink="/table">
                <h3 style="text-align: center;">3</h3>
            </a>
        </div>
        <div>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false" routerLink="/clientsdata">
                <img id="imgId" class="rounded border border-danger ml-4" src="../../assets/images/CENTURY.png"></a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false" routerLink="/table">
                <h3 style="text-align: center;">15</h3>
            </a>
        </div>
        <div>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false" routerLink="/clientsdata">
                <img id="imgId" class="rounded border border-info ml-4" src="../../assets/images/SATRA.jpeg"></a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false" routerLink="/table">
                <h3 style="text-align: center;">18</h3>
            </a>
        </div>
    </div>
</body>

</html>